<!DOCTYPE html>
<html lang="en" th:replace="~{user/user_base :: parent(~{:: #content}, ~{:: title}, ~{})}">
<head>
    <title>Profile Page</title>
</head>
<body>
    <div id="content">
            <!-- sidebar -->
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>
        
        <div class="flex flex-col w-full items-center">
            <div class="flex flex-col items-center w-[95%] sm:[80%] md:w-5/6 lg:w-[45%] p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                
                <div class="flex flex-col p-4 items-end">
                    <div class="flex justify-center">
                        <img data-th-src="${loggedInUser.profilePic}"
                        class="w-32 h-32 rounded-full" alt="">
                    </div>
                    <div class="h-8 w-8 -mt-8 ms-1 bg-slate-200 rounded-full">
                        <a data-th-href="@{'/user/contacts/update/'+*{id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#0673c6" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
                        </a>
                    </div>
                </div>

                <div>
                    <span class="text-sm px-3">Name :</span>
                    <span class="text-lg px-3">First Last</span>
                    <a data-th-href="@{'/user/contacts/update/'+*{id}}">
                        <i class="fa-solid fa-pen h-6 w-6"></i>
                    </a>
                </div>

                <div class="w-10/12 border border-gray-200 dark:border-gray-600 m-5"></div>

                <div class="flex flex-col justify-center space-y-2">
                    <div>
                        <span class="text-sm px-3">Email :</span>
                        <span class="text-lg px-3">name@email.com</span>
                        <a data-th-href="@{'/user/contacts/update/'+*{id}}">
                            <i class="fa-solid fa-pen h-6 w-6"></i>
                        </a>
                    </div>
                    <div>
                        <span class="text-sm px-3">Password :</span>
                        <span class="text-lg px-3">********</span>
                        <a data-th-href="@{'/user/contacts/update/'+*{id}}">
                            <i class="fa-solid fa-pen h-6 w-6"></i>
                        </a>
                    </div>
                </div>

                <div class="w-10/12 border border-gray-200 dark:border-gray-600 m-5"></div>
                    
                <div>
                    <span class="text-sm px-3">Phone :</span>
                    <span class="text-lg px-3">Add</span>
                    <a data-th-href="@{'/user/contacts/update/'+*{id}}">
                        <i class="fa-solid fa-pen h-6 w-6"></i>
                    </a>
                </div>

                <div class="w-10/12 border border-gray-200 dark:border-gray-600 m-5"></div>

                <div>
                    <span class="text-sm px-3">Address :</span>
                    <span class="text-lg px-3">Add</span>
                    <a data-th-href="@{'/user/contacts/update/'+*{id}}">
                        <i class="fa-solid fa-pen h-6 w-6"></i>
                    </a>
                </div>

                <div class="w-10/12 border border-gray-200 dark:border-gray-600 m-5"></div>
                
            </div>
        </div>    

    </div>

</body>
</html>