<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content}, ~{:: title}, ~{})}">
<head>
    <title>Home Page</title>
</head>
<body>
    <div id="content" class="bg-gray-200 dark:bg-gray-800 w-1/2 py-4 flex flex-col space-y-3 mx-auto mt-4 items-center">
        <h1 class = "text-2xl font-bold" 
            data-th-text="${name}">
                Welcome to Home Page
        </h1>
        <p class="text-lg">
            Email: <span data-th-text="${email}"></span>
        </p>

        <p>Course: <span data-th-text="${learning}"></span></p>

        <a data-th-href="${github}">GitHub Link</a>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, debitis obcaecati. Laudantium quae rem sed quod quasi placeat distinctio molestias asperiores praesentium minus. Veritatis, voluptate. Nobis, minus aperiam ducimus cum vero totam molestias alias accusamus aspernatur repudiandae maxime consequuntur reprehenderit perspiciatis pariatur perferendis optio maiores odio similique atque iure adipisci.
        </p>
        
        <button class="bg-blue-800 text-white px-2 py-2 rounded hover:bg-blue-700">
            Click Here
        </button>
    </div>
</body>
</html>