<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content}, ~{:: title}, ~{:: script})}">
<head>
    <title>Signup Page</title>
</head>
<body>
    <div id="content">
        
        <div class="grid grid-cols-12 bg-blue-50 p-8 pt-0 rounded-xl dark:bg-gray-900">
            <div class="col-span-0 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <!-- Card -->
                <div class="block p-6 bg-white border-t-[10px] border-blue-700  rounded-xl shadow dark:bg-gray-800 dark:border-blue-700">
                    <!-- Alert Message Box -->
                     <div th:replace="~{message :: alertMessage}"></div>

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Sign Up
                    </h5>
                    <p class="font-normal text-gray-500 dark:text-gray-500">
                        Start Managing Contacts on Cloud...
                    </p>

                    <!-- Sign Up Form -->
                    <form data-th-action="@{'/register'}" method="post"
                        data-th-object="${userForm}" 
                        class="mt-5" novalidate>
                        
                            <!-- Name Field  -->
                        <div class="mb-4">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                            <input type="text" name="name" id="name" 
                                th:field="*{name}" 
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white" placeholder="Enter your Name" required />
                                    <!-- Name Field Error Message  -->
                            <p th:if="${#fields.hasErrors('name')}" 
                                th:errors="*{name}"
                                class="text-red-600 px-1 py-2 text-sm">
                                    Name is Required
                            </p>
                        </div>

                            <!-- Email Feild  -->
                        <div class="mb-4">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                            <input type="email" name="email" id="email"
                                th:field="*{email}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white" placeholder="Enter your Email" required />
                                <!-- Email Field Error Message  -->
                            <p th:if="${#fields.hasErrors('email')}" 
                                th:errors="*{email}"
                                class="text-red-600 px-1 py-2 text-sm">
                                    Email is Required
                            </p>
                        </div>
                            <!-- PhoneNumber Feild  -->
                        <div class="mb-4">
                            <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                            <input type="text" name="phoneNumber" id="phoneNumber"
                                th:field="*{phoneNumber}"
                                placeholder="Enter Your Phone Number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white" />
                                <!-- PhoneNumber Field Error Message  -->
                            <p th:if="${#fields.hasErrors('phoneNumber')}" 
                                th:errors="*{phoneNumber}"
                                class="text-red-600 px-1 py-2 text-sm">
                                    PhoneNumber is Required
                            </p>
                        </div>

                            <!-- Password Feild  -->
                        <div class="mb-4">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input type="password" name="password" id="password"
                                th:field="*{password}"
                                placeholder="Enter Your Password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white" required />
                                <!-- Password Field Error Message  -->
                            <p th:if="${#fields.hasErrors('password')}" 
                                th:errors="*{password}"
                                class="text-red-600 px-1 py-2 text-sm">
                                Password is Required
                            </p>
                        </div>

                        <!-- Buttons -->
                        <div class="mb-3 flex justify-center space-x-4">
                            <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Sign up
                            </button>
                            <button type="reset"
                                class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                                Reset
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    
    </div>
    <script>
        console.log("Signup Page");
    </script>
    <script>
        console.log("Signup Page Called...");
    </script>
</body>
</html>